body {
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 50px auto;
}

.profile {
    background-color: #64806c;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.profile img {
    max-width: 280px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section {
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}